.nav_link {
  @apply relative text-xl font-bold w-fit h-fit inline-block;
  display: flex;
  align-items: center;
  line-height: 1;
  &::before {
    content: "";
    position: absolute;
    top: var(--mouse-y, 50%);
    left: var(--mouse-x, 50%);
    width: 120px;
    height: 120px;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.15) 0%,
      transparent 70%
    );
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }
}

// Pada CSS
.nav_main {
  @apply fixed h-[10vh] z-[10] bg-slate-200 dark:bg-slate-900 w-full;

  .nav_layer {
    @apply flex items-center h-full justify-between w-[95%] sm:w-[93%] xl:w-[90%] mx-auto;
  }
}

.nav_links_container {
  @apply items-center h-fit lg:flex flex-1 justify-center space-x-8;
}

.nav_content {
  @apply flex items-center;
}
